<form id="new-message" name="message">
  <input type="text" name="author" placeholder="Your name" id="message-author" value="<%= author %>">
  <input type="text" name="body" placeholder="Message" id="message-body" value="<%= body %>">
  <input type="submit" value="Send" id="message-send">
</form>
